body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.post:hover {
    transform: scale(1.05);
}

.post img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/* Các quy tắc CSS cho modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.modal-content {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    max-height: 80%;
}

.modal img {
    margin-top: 10%;
    width: auto;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Các quy tắc CSS cho nút đóng */
.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.description-container {
    background-color: #c3f090;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: justify;
}

